.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0 ;
}
.pagination button{
    background-color: #01b4e4;
    color: #fff;
    padding: 8px 14px;
    border-radius: 6px;
}
.pagination button:disabled {
    background-color: #555;
    color: #aaa;
    cursor: not-allowed;
}